@charset "UTF-8";

.container-exe19 {
  background-color: rgba(120, 168, 191, 0.3);;
  border-radius: 8px;
  padding: 16px 0;
}

h2#principal {
  background-color:rgba(78, 103, 115, 1.0);
  border-radius: 8px;
  color: white;
  margin: 8px auto;
  padding: 8px 0;
  text-align: center;
  width: 90%;
}

h2#secundario {
  margin: 8px auto;
  padding: 16px 0;
  text-align: left;
  width: 90%;
}

.basico {
  background-color: rgba(78, 103, 115, 0.3);
  border-left: 8px solid #4E6773;
  color: #4E6773;
  padding: 0 8px;
}

.intermediario {
  background-color: rgba(73, 154, 191, 0.3);
  border-left: 8px solid #499ABF;
  color: #4E6773;
  padding: 0 8px;
}

.avancado {
  background-color: rgba(130, 172, 191, 0.3);
  border-left: 8px solid #82ACBF;
  color: #4E6773;
  padding: 0 8px;
}

.paragrafo {
  color: black;
}

.fonte-grande {
  font-size: 2.5em;
}