@charset "utf-8";

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--cor1);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.05);
  height: 90px;
  padding: 8px;
  width: 100%;
  z-index: 1;
}

header h1 {
  text-align: center;
  width: 100%;
}

header a {
  color: var(--cor3);
  font-family: var(--fonte-titulo);
  font-size: 0.7em;
  text-decoration: none;
  letter-spacing: 1.8px;
}

header ul {
  display: flex;
  justify-content: space-between;
}

#menu-icone {
  cursor: pointer;
  display: inline-block;
  padding: 2px;
}

#menu-icone > div {
  background-color: var(--cor3);
  font-weight: 800;
  height: 3px;
  margin: 3px 0;
  width: 20px;
}

.linha-1, .linha-2, .linha-3 {
  transition: 0.4s ease-out;
}

.mudar .linha-1 {
  transform: translate(0, 2px) rotate(-47deg);
}

.mudar .linha-2 {
  opacity: 0;
}

.mudar .linha-3 {
  transform: translate(0, -10px) rotate(47deg);
}