@charset "utf-8";

.menu-responsivo {
  position: fixed;
  left: -18px;
  top: 98px; /* ou 90px sem o box-shadow */
  background-color: var(--cor1);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.05);
  height: 100vh;
  overflow-x: hidden;
  padding: 8px;
  transition: 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.menu-responsivo ol {
  margin-bottom: 88px
}

.menu-responsivo .modulo {
  background-color: var(--white);
  border-radius: 8px;
  margin: 1.55em auto;
}

.menu-responsivo details {
  margin: 8px auto;
  padding: 4px;
}

.menu-responsivo summary {
  color: var(--cor3);
  font-weight: 600;
  padding: 4px 0;
}

.menu-responsivo summary:hover {
  cursor: pointer;
}

.menu-responsivo ::marker {
  color: var(--cor3);
}

.menu-responsivo ul > li {
  margin-bottom: 4px;
  padding: 4px 0;
}

.menu-responsivo ul li a {
  display: inline-block;
  color: var(--cor2);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 0;
  width: 99%;
}

.menu-responsivo ul > li a:hover {
  text-decoration: underline;
}

.menu-responsivo .link-ativo a {
  background-color: var(--cor4);
  border-left: 4px solid var(--cor3);
  font-weight: 500;
  padding: 8px;
}

.menu-responsivo .details-atividades {
  font-size: 0.9em;
  margin: 0 0 0 8px;
  padding: 4px 4px 4px 0;
}

.menu-responsivo .details-atividades summary {
  padding: 0px;
}

.menu-responsivo .details-atividades ul a {
  margin-left: 4px;
}

.link::before {
  content: "\21AA";
  padding-right: 0.5em;
}

.hidden {
  visibility: hidden;
}

.responsivo {
  left: 0;
  width: 80vw; /* ou 340 px*/
}