@charset "utf-8";


/* GERAL */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@font-face {
  font-family: "DK";
  src: url("../modulo-02/exercicios/exe-05/fontes/DKW.TTF") format('truetype');
}


/* PÁGINA DE APRESENTAÇÃO - GERAL */
.container-principal {
  min-height: 78vh;
  margin-top: 102px;
  padding: 24px 8px 40px 8px;
}

.conteudo {
  margin: auto;
  width: 97%;
}

.conteudo-exercicio h1,
.conteudo-desafio h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
}

.container-principal h2,
.conteudo h2 {
  display: block;
  color: var(--cor2);
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.35em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

p {
  color: var(--cor2);
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.conteudo ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.conteudo ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

/* PÁGINA DE APRESENTAÇÃO - LINKS DO CURSO */
.links-curso,
.conteudo-do-modulo {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
}

.links-curso-imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.links-curso-imagens .curso-em-video,
.links-curso-imagens .youtube {
  margin: 16px 24px;
}

.curso-em-video img,
.youtube img {
  display: block;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  height: auto; 
  margin: 16px auto;
  max-width: 280px;
  padding: 24px 0;
  width: 100%;
}

.curso-em-video img:hover,
.youtube img:hover {
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
  transition: all 0.3s ease;
}


/* PÁGINA DE APRESENTAÇÃO - CONTEÚDO DO MÓDULO */
.linha-1,
.linha-2,
.linha-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px;
}

.conteudo-detalhes {
  border: 2px solid var(--cor4);
  border-radius: 8px;
  font-weight: 500;
  line-height: 1.5em;
  margin: 8px;
  min-height: 200px;
  padding: 24px 8px;
  width: 95%;
}

.conteudo-detalhes h3 {
  color: var(--cor3);
  margin: 8px auto;
  text-align: center;
}

.conteudo-detalhes ul {
  color: var(--cor2);
  list-style-position: inside;
}

.conteudo-detalhes ul li {
  text-align: left;
}

.conteudo-detalhes.ocultar {
  display: none;
}


/* EXERCÍCIOS - GERAL */
.conteudo-exercicio h2 {
  color: unset;
  text-align: unset;
}

.conteudo-exercicio ol {
  display: block;
  list-style-position: inside;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.conteudo-exercicio ul {
  display: block;
  list-style-position: inside;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.conteudo-exercicio dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

dd {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.container-principal > h2 {
  color: var(--cor2);
  text-align: center;
}

.conteudo-exercicio p,
.conteudo-desafio p {
  color: var(--black);
  text-align: left;
}

.exercicio,
.desafio {
  background-image: radial-gradient(circle, var(--cor3) 10%, var(--cor4));
  border-radius: 8px;
  color: var(--cor5);
  margin: 40px auto 16px;
  padding: 8px;
  width: 95%;
}

.conteudo-exercicio,
.conteudo-desafio {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
  margin: 2px auto;
  min-height: 50vh;
  padding: 24px;
  width: 100%;
}


/* MÓDULO 01 - EXERCÍCIO 03 */
.exercicio-03-m1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.exercicio-03-m1 div {
  margin: 8px;
  padding: 16px 8px;
  width: 100%;
}

.exercicio-03-m1 div p {
  margin: 8px 0 24px;
  text-align: center;
  width: 100%;
}

.exercicio-03-m1 img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}

.exercicio-03-m1-img {
  border-radius: 2px;
}


/* MÓDULO 01 - EXERCÍCIO 12 */
.container-video {
  margin: 16px 0;
  padding: 8px 0;
}

.video-responsivo {
  margin: auto;
  padding-bottom: 50%;
  position: relative;
}

.video-responsivo video {
  height: 90%;
  width: 86%;
  position: absolute;
  left: 7%;
  top: 5%;
}

.video-responsivo iframe {
  height: 90%;
  width: 86%;
  position: absolute;
  left: 7%;
  top: 5%;
}