/* GERAL */
@charset "UTF-8";


/* DESAFIOS 1 E 2 */
#paragrafo-desafio01-m1, #paragrafo-desafio02-m1 {
  text-align: center;
}


/* DESAFIO 3 */
#paragrafo-desafio03-m1 {
  line-height: 1.9em;
  margin: 8px auto;
  text-align: center;
  width: 90%;
}


/* DESAFIO 5 */
#container-img-desafio05 {
  margin: 0 auto;
  width: 90%;
}

#container-img-desafio05 img {
  display: block;
  border-radius: 50%;
  max-width: 100%;
  text-align: left;
}
