@charset "utf-8";

/* PÁGINAS DE EXERCÍCIOS E DESAFIOS - GERAL */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@font-face {
  font-family: "DK";
  src: url("../modulo-02/exercicios/exe-05/fontes/DKW.TTF") format('truetype');
}

blockquote {
  color: #000;
  line-height: 1.9em;
  margin: auto;
  padding: 0 8px;
  text-align: left;
  width: 90%;
}

dd {
  display: block;
  line-height: 1.9em;
  margin-left: 24px;
}

mark {
  color: var(--cor1);
  background-color: rgba(115, 72, 77, 0.2);
  border-radius: 8px;
  padding: 2px;
}

pre {
  color: var(--cor1);
  display: block;
  font-family: monospace;
  margin: 1em auto 0.6em;
  /* padding-top: 8px; */
  text-align: left;
  white-space: normal;
  width: 90%;
}

span {
  color: var(--cor1);
}

.container-exercicio,
.container-desafio {
  margin: 1.5em auto;
  padding: 24px 16px;
  text-align: center;
  width: 98%;
}

.exercicio,
.desafio {
  background-image: radial-gradient(circle, rgba(191, 190, 159, 0.3) 10%, rgba(191, 190, 159, 0.2));
  border-radius: 8px;
  color: var(--cor5);
  margin-bottom: 32px;
  padding: 16px 0;
}

.conteudo-exercicio,
.conteudo-desafio {
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
  margin: 8px auto;
  padding: 8px;
  width: 95%;
}

.conteudo-exercicio h2,
.conteudo-desafio h2 {
  padding: 8px 8px 16px;
}

.titulo-1,
.titulo-2,
.titulo-3,
.titulo-4 {
  color: #000;
  line-height: 1.9em;
  margin: 8px auto;
  padding: 8px 0;
  text-align: left;
  width: 90%;
}

.conteudo-exercicio p,
.conteudo-desafio p {
  color: #000;
  line-height: 1.9em;
  margin: 8px auto;
  text-align: left;
  width: 90%;
}

.exercicio ol,
.exercicio ul,
.exercicio dl {
  color: #000;
  line-height: 1.5em;
  list-style-position: inside;
  margin: auto;
  text-align: left;
  width: 90%;
}

.exercicio a,
.desafio a {
  color: var(--cor3);
  text-align: left;
  text-decoration: none;
}

.exercicio a:hover,
.desafio a:hover {
  text-decoration: underline;
}

.exercicio picture img,
.desafio picture img {
  margin-top: 16px;
  width: 90%;
}


/* MÓDULO 01 - EXERCÍCIO 03 */
.exercicio-03-m1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.exercicio-03-m1 div {
  margin: 8px;
  padding: 16px 8px;
  width: 100%;
}

.exercicio-03-m1 div p {
  margin: 8px 0 24px;
  text-align: center;
  width: 100%;
}

.exercicio-03-m1 img {
  height: auto;
  max-width: 100%;
}

.exercicio-03-m1-img {
  border-radius: 2px;
}


/* MÓDULO 01 - EXERCÍCIO 11 */
.exercicio audio {
  margin: 8px;
  width: 90%;
}


/* MÓDULO 01 - EXERCÍCIO 12 */
.container-video {
  margin: 16px 0;
  padding: 8px 0;
}

.video-responsivo {
  margin: auto;
  padding-bottom: 50%;
  position: relative;
}

.video-responsivo video {
  height: 90%;
  width: 86%;
  position: absolute;
  left: 7%;
  top: 5%;
}

.video-responsivo iframe {
  height: 90%;
  width: 86%;
  position: absolute;
  left: 7%;
  top: 5%;
}


/* MÓDULO 01 - DESAFIO 01 */
#desafio-01-m1 {
  text-align: center;
}


/* MÓDULO 01 - DESAFIO 02 */
#desafio-02-m1 {
  text-align: justify;
}


/* MÓDULO 01 - DESAFIO 03 */
.desafio-03-m1 > p {
  text-align: center;
}

.desafio-03-m1 > img {
  max-width: 29%; 
}


/* MÓDULO 01 - DESAFIO 04 */
.desafio-04-m1 .colunas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.desafio-04-m1 .coluna-1,
.desafio-04-m1 .coluna-2 {
  margin: auto;
  width: 90%;
}

.desafio-04-m1 .titulo-3 {
  margin: 24px auto 8px;
  padding: 0;
  text-align: center;
}

.desafio-04-m1 ul {
  list-style-type: none;
  text-align: center;
}


/* MÓDULO 01 - DESAFIO 05 */
.desafio-05-m1 img {
  border-radius: 50%;
  margin-left: 5%;
  display: block;
}


/* MÓDULO 01 - DESAFIO 09 */
.desafio-09-m1 p {
  text-align: center;
}


/* MÓDULO 02 - EXERCÍCIO 02 */ 
.exercicio-02-m2 .exemplo-01,
.exercicio-02-m2 .exemplo-02 {
  border-radius: 8px;
  padding: 8px;
}

.exercicio-02-m2 .exemplo-01 {
  background-color: rgb(191, 190, 159);
  opacity: 0.4;
}

.exercicio-02-m2 .exemplo-02 {
  background-color:rgba(191, 190, 159, 0.4);
}


/* MÓDULO 02 - EXERCÍCIO 03 */
.container-gradientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-gradientes .gradiente-1 {
  background-image: linear-gradient(to top, rgb(78, 103, 115), #bf8c91);
  border-radius: 8px;
  height: 200px;
  margin: 8px;
  width: 90%;
  position: relative;
}

.container-gradientes .gradiente-2 {
  background-image: radial-gradient(circle, rgb(78, 103, 115) 30%, #bf8c91);
  border-radius: 8px;
  height: 200px;
  margin: 8px;
  width: 90%;
  position: relative;
}

.container-gradientes .gradiente-3 {
  background-image: conic-gradient(#4E6773 10deg, #78A8BF, #bf8c91);
  border-radius: 8px;
  height: 200px;
  margin: 8px;
  width: 90%;
  position: relative;
}

.gradiente-1 p, 
.gradiente-2 p, 
.gradiente-3 p {
  color: white;
  font-size: 1.8em;
  padding: 0 8px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* MÓDULO 02 - EXERCÍCIO 04 */
.exercicio-04-m2 h2 {
  font-family: 'Monaco', monospace;
}

.exercicio-04-m2 .fonte {
  font-family: 'Monaco', monospace;
  font-size: 1.0em;
  font-weight: 400;
  line-height: 2em;
  margin: 24px 0;
  text-align: justify;
}

.exercicio-04-m2 .fonte-shorthand {
  font: 300 1.0em 'Monaco', monospace;
  line-height: 2.0;
  margin: 24px 0;
}


/* MÓDULO 02 - EXERCÍCIO 05 */
.exercicio-05-m2 h2 {
  font-family: 'Anonymous Pro', monospace;
}

.exercicio-05-m2 .paragrafo {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.1em;
}

.exercicio-05-m2 .paragrafo-alinhamento {
  text-align: center;
}

.exercicio-05-m2 ol {
  margin: auto;
  padding-bottom: 8px;
}

.exercicio-05-m2 ol li {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.1em;
  line-height: 2.0;
}

.exercicio-05-m2 span {
  color: var(--cor5);
  font-size: 1.3em;
}


/* MÓDULO 02 - EXERCÍCIO 06 */
.exercicio-06-m2 .paragrafo {
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.377);
  padding: 8px;
}

.exercicio-06-m2 #direita {
  text-align: right;
}

.exercicio-06-m2 #centro {
  text-align: center;
}

.exercicio-06-m2 #justificado-indent {
  text-align: justify;
  text-indent: 50px;
}


/* MÓDULO 02 - EXERCÍCIO 07 */
.exercicio-07-m2 #container {
  margin: 16px auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.exercicio-07-m2 .area {
  background-image: linear-gradient(to top, rgb(78, 103, 115), #bf8c91);
  height: 200px;
  margin: 16px;
  min-width: 200px;
}

.exercicio-07-m2 #area-2 {
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid rgb(78, 103, 115);
}

.exercicio-07-m2 #area-3 {
  background-image: radial-gradient(circle, rgb(78, 103, 115) 30%, #bf8c91);
  border-radius: 50%;
}


/* MÓDULO 02 - EXERCÍCIO 08 */
.exercicio-08-m2 .titulo3 {
  text-align: center;
}

.exercicio-08-m2 #container-exercicio-08-m2 {
  margin: 16px 8px;
  padding: 8px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exercicio-08-m2 #container-exercicio-08-m2 .galeria {
  background-image: radial-gradient(circle, rgba(191, 190, 159, 0.3) 10%, rgba(191, 190, 159, 0.2));
  border-radius: 8px;
  margin: 8px;
  padding: 8px 11px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exercicio-08-m2 .imagem {
  border-radius: 8px;
  cursor: pointer;
  height: auto;
  transition: 0.4s ease-in-out;
  width: 100%;
}

.exercicio-08-m2 .imagem:hover {
  transform: scale(1.05);
}

.exercicio-08-m2 p.titulo {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 8px;
}

.exercicio-08-m2 p.titulo, 
.exercicio-08-m2 p.trailer {
  margin: auto;
  text-align: center;
}

.exercicio-08-m2 a {
  margin: 0 auto;
  padding-top: 8px;
  width: 20%;
}

.exercicio-08-m2 .trailer img {
  cursor: pointer;
}

.exercicio-08-m2 .trailer::after {
  content: url('../../../imagens/play-circle.svg');
}


/* MÓDULO 02 - EXERCÍCIO 09 */
.exercicio-09-m2 #sombra-texto {
  color: #fff;
  background-image: linear-gradient(to top, rgba(78, 103, 115, 0.8), rgba(191, 140, 145, 0.7));
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.377);
  font-size: 1.8em;
  padding: 24px 16px;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}


/* MÓDULO 02 - DESAFIO 01 */
.desafio-01-m2 .paragrafo-alinhamento {
  text-align: center;
}

.desafio-01-m2 iframe {
  height: 500px;
  overflow: auto;
  width: 90%;
}


/* MÓDULO 02 - DESAFIO 02 */
.desafio-02-m2 .container-imagens {
  margin: auto;
  width: 80%;
  position: relative;
}

.desafio-02-m2 .imagem-1 {
  border-radius: 8px;
  height: auto;
  width: 100%;
}

.desafio-02-m2 .imagem-2 {
  height: auto;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* MÓDULO 03 - EXERCÍCIO 01 */
.exercicio-01-m3 .container-quadrados {
  background-image: url('../imagens/wallpaper001.jpg');
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-quadrados .quadrado {
  border: 2px solid black;
  border-radius: 8px;
  height: 200px;
  margin: 8px;
  max-width: 255px;
  width: 200px;
}

.exercicio-01-m3 #quadrado-1 {
  background-color: skyblue;
}

.exercicio-01-m3 #quadrado-2 {
  background-image: linear-gradient(to bottom, yellow, coral);
}

.exercicio-01-m3 #quadrado-3 {
  background-image: url('../imagens/pattern003.png');
}

.exercicio-01-m3 #quadrado-4 {
  background-image: url('../imagens/pattern002.png');
}


/* MÓDULO 03 - EXERCÍCIO 02 */
.exercicio-02-m3 .m3-exemplo-01,
.exercicio-02-m3 .m3-exemplo-02,
.exercicio-02-m3 .m3-exemplo-03,
.exercicio-02-m3 .m3-exemplo-04 {
  background-image: url('../imagens/img-mascote.png');
  background-size: 80px 80px;
  border: 1px solid black;
  border-radius: 8px;
  height: 200px;
  margin: 24px auto;
  width: 89%;
}

.exercicio-02-m3 .m3-exemplo-02 {
  background-position: center;
  background-repeat: no-repeat;
}

.exercicio-02-m3 .m3-exemplo-03 {
  background-repeat: repeat-x;
}

.exercicio-02-m3 .m3-exemplo-04 {
  background-repeat: repeat-y;
}


/* MÓDULO 03 - EXERCÍCIO 03 */
.exercicio-03-m3 p{
  text-align: center;
}

.exercicio-03-m3 .container-retangulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.exercicio-03-m3 .retangulo {
  background-image: url('../imagens/wallpaper003.jpg');
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  height: 200px;
  margin: 8px 2px;
  width: 90%;
  max-width: 300px;
}

.retangulo:hover {
  box-shadow: 2px 2px 6px black;
}

.exercicio-03-m3 #imagem-inteira {
  background-repeat: no-repeat;
  background-size: cover;
}

.exercicio-03-m3 #r2 {
  background-position: left center;
}

.exercicio-03-m3 #r3 {
  background-position: right bottom;
}

.exercicio-03-m3 #r4 {
  background-position: center center;
}

.exercicio-03-m3 #r5 {
  background-position: top right;
}


/* MÓDULO 03 - EXERCÍCIO 04 */
.exercicio-04-m3 .container-exemplo {
  background: black url('../../../imagens/wallpaper002.jpg') no-repeat fixed center center/cover;
}

.exercicio-04-m3 .texto-exemplo {
  background-color: rgba(0, 0, 0, 0.65);
  margin: auto;
  width: 85%;
}

.exercicio-04-m3 .texto-exemplo h3 {
  color: #fff;
  font-weight: bolder;
  padding: 24px 0 8px;
}

.exercicio-04-m3 .texto-exemplo p {
  color: #fff;
  font-weight: 500;
  padding: 8px 8px 16px;
}


/* MÓDULO 03 - EXERCÍCIO 05 */
.exercicio-05-m3 .container-exemplo {
  background-color: var(--cor1);
  background-image: url('../imagens/target001.png');
  background-size: 100% 100%;
  height: 300px;
  max-width: 100vw;
  position: relative;
}

.exercicio-05-m3 .exemplo {
  background-color: var(--cor2);
  background-image: url('../imagens/target001.png');
  background-size: 100% 100%;
  height: 150px;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* MÓDULO 03 - EXERCÍCIO 06 */
.exercicio-06-m3 .container-atividade table {
  border: 1px solid black;
  border-collapse: collapse;
  /* height: 400px; */
  margin: 16px auto;
  width: 90%;
}

.exercicio-06-m3 .container-atividade td {
  border: 1px solid rgba(115, 74, 79, 0.4);
  padding: 8px;
}

.exercicio-06-m3 .container-atividade td:hover {
  background-color: rgba(115, 74, 79, 0.4);
  color: #fff;
  cursor: pointer;
}


/* MÓDULO 03 - EXERCÍCIO 07 */
.exercicio-07-m3 .container-atividade table {
  border: 1px solid rgba(115, 74, 79, 0.4);
  border-collapse: collapse;
  margin: 8px auto;
  width: 100%;
}

.exercicio-07-m3 .container-atividade caption {
  color: var(--cor1);
  font-weight: bold;
  margin: auto;
  padding: 8px 0;
}

.exercicio-07-m3 .container-atividade thead,
.exercicio-07-m3 .container-atividade tfoot {
  background-color: #73484D;
  color: #fff;
}

.exercicio-07-m3 .container-atividade th:nth-child(1) {
  border-right: 1px solid #fff;
}

.exercicio-07-m3 .container-atividade th,
.exercicio-07-m3 .container-atividade td {
  padding: 8px;
}

.exercicio-07-m3 .container-atividade td:nth-child(1) {
  border-right: 1px solid rgba(115, 74, 79, 0.4);
  text-align: left;
}

.exercicio-07-m3 .container-atividade tbody tr:nth-child(even) {
  background-color: rgba(191, 140, 145, 0.336);
}


/* MÓDULO 03 - EXERCÍCIO 08 */
.exercicio-08-m3 .container-atividade table {
  border: 1px solid var(--cor1);
  border-collapse: collapse;
  margin: 16px auto;
  width: 80%;
}

.exercicio-08-m3 .container-atividade td {
  border: 1px solid var(--cor1);
  cursor: pointer;
  padding: 16px;
}

.exercicio-08-m3 .container-atividade td:hover {
  background-color: var(--cor1);
  color: #fff;
}


/* MÓDULO 03 - EXERCÍCIO 09 */
.exercicio-09-m3 table {
  border-collapse: collapse;
  margin: 16px auto;
  width: 100%;
}

.exercicio-09-m3 caption {
  color: var(--cor1);
  font-weight: bold;
  letter-spacing: 3px;
  margin: 8px auto;
}

.exercicio-09-m3 th {
  background-color: var(--cor1);
  color: #fff;
  letter-spacing: 2px;
}

.exercicio-09-m3 thead th:nth-child(1),
.exercicio-09-m3 thead th:nth-child(2),
.exercicio-09-m3 thead th:nth-child(3) {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.exercicio-09-m3 tbody th:nth-child(1) {
  border-bottom: 1px solid #fff;
}

.exercicio-09-m3 th,
.exercicio-09-m3 td {
  border-bottom: 1px solid var(--cor1);
  padding: 8px 2px;
}

.exercicio-09-m3 tbody tr:hover {
  background-color: var(--cor3);
  color: #fff;
}


/* MÓDULO 03 - EXERCÍCIO 10 */
.exercicio-10-m3 table {
  /* border: 1px solid var(--cor1); */
  border-collapse: collapse;
  margin: 16px auto;
  width: 100%;
}

.exercicio-10-m3 caption {
  color: var(--cor1);
  font-weight: bold;
  letter-spacing: 3px;
  margin: 8px auto;
}

.exercicio-10-m3 th {
  background-color: var(--cor1);
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: 2px;
  padding: 8px 2px;
}

.exercicio-10-m3 td {
  color: #fff;
  letter-spacing: 1.5px;
  padding: 8px 2px;
}

.exercicio-10-m3 col.nome {
  background-color: var(--cor5);
}

.exercicio-10-m3 col.sexo-e-idade {
  background-color: var(--cor4);
}

.exercicio-10-m3 col.profissao {
  background-color: var(--cor2);
}

/* MATERIAL EXTRA */
.material-extra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.material-extra article {
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  margin: 16px auto;
  padding: 16px 8px;
  width: 95%;
}

.material-extra article a {
  text-decoration: none;
}

.material-extra article:hover {
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
  transition: all 0.3s ease;
}

.material-extra article i {
  color: var(--cor4);
  font-size: 5.5em;
  margin-top: 8px;
  padding: 8px;
  width: 100%;
}

.material-extra article p {
  color: var(--cor5);
  font-size: 1.2em;
  font-weight: 500;
  margin: 8px auto;
  padding: 8px;
  text-align: center;
  width: 100%;
}