@charset "utf-8";

/* PÁGINAS DE EXERCÍCIOS E DESAFIOS - GERAL */
blockquote {
  color: #000;
  line-height: 1.9em;
  margin: auto;
  padding: 0 8px;
  text-align: left;
  width: 90%;
}

dd {
  display: block;
  line-height: 1.9em;
  margin-left: 24px;
}

mark {
  color: var(--cor1);
  background-color: rgba(115, 72, 77, 0.2);
  border-radius: 8px;
  padding: 2px;
}

pre {
  color: var(--cor1);
  display: block;
  font-family: monospace;
  margin: 1em auto 0.6em;
  /* padding-top: 8px; */
  text-align: left;
  white-space: normal;
  width: 90%;
}

span {
  color: var(--cor1);
}

.container-exercicio,
.container-desafio {
  margin: 1.5em auto;
  padding: 24px 16px;
  text-align: center;
  width: 80%;
}

.exercicio,
.desafio {
  background-image: radial-gradient(circle, rgba(191, 190, 159, 0.3) 10%, rgba(191, 190, 159, 0.2));
  border-radius: 8px;
  color: var(--cor5);
  margin-bottom: 32px;
  padding: 16px 0;
}

.conteudo-exercicio,
.conteudo-desafio {
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
  margin: 8px auto;
  padding: 8px;
  width: 95%;
}

.conteudo-exercicio h2,
.conteudo-desafio h2 {
  padding: 8px 8px 16px;
}

.titulo-1,
.titulo-2,
.titulo-3,
.titulo-4 {
  color: #000;
  line-height: 1.9em;
  margin: 8px auto;
  padding: 8px 0;
  text-align: left;
  width: 90%;
}

.conteudo-exercicio p,
.conteudo-desafio p {
  color: #000;
  line-height: 1.9em;
  margin: 8px auto;
  text-align: left;
  width: 90%;
}

.exercicio ol,
ul,
dl {
  color: #000;
  line-height: 1.5em;
  list-style-position: inside;
  margin: auto;
  text-align: left;
  width: 90%;
}

.exercicio a,
.desafio a {
  color: var(--cor3);
  text-align: left;
  text-decoration: none;
}

.exercicio a:hover,
.desafio a:hover {
  text-decoration: underline;
}

.exercicio picture img,
.desafio picture img {
  margin-top: 16px;
  width: 90%;
}

/* EXERCÍCIO 03 - MÓDULO 01 */
.exercicio-03-m1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.exercicio-03-m1 div {
  margin: 16px auto;
  padding: 16px 8px;
  width: 100%;
}

.exercicio-03-m1 div p {
  margin: 8px 0 24px;
  text-align: center;
  width: 100%;
}

.exercicio-03-m1-img {
  height: 253px;
  max-width: 230px;
}


/* EXERCÍCIO 12 - MÓDULO 01 */
.container-video {
  margin: 16px 0;
  padding: 8px 0;
}

.video-responsivo {
  padding-bottom: 50%;
  position: relative;
}

.video-responsivo video {
  height: 90%;
  left: 5%;
  position: absolute;
  top: 5%;
  width: 90%;
}

.video-responsivo iframe {
  height: 90%;
  left: 5%;
  position: absolute;
  top: 5%;
  width: 90%;
}


/* DESAFIO 01 - MÓDULO 01 */
#desafio-01-m1 {
  text-align: center;
}


/* DESAFIO 02 - MÓDULO 01 */
#desafio-02-m1 {
  text-align: justify;
}


/* DESAFIO 03 - MÓDULO 01 */
.desafio-03-m1 > p {
  text-align: justify;
}

.desafio-03-m1 > img {
  max-width: 29%; 
}


/* DESAFIO 04 - MÓDULO 01 */
.desafio-04-m1 .titulo-3 {
  width: 91%;
}


/* DESAFIO 05 - MÓDULO 01 */
.desafio-05-m1 img {
  border-radius: 50%;
  margin-left: 5%;
  display: block;
}


/* MATERIAL EXTRA */
.material-extra {
  margin: 16px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.material-extra article {
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  margin: 16px auto;
  padding: 16px 8px;
  width: 95%;
}

.material-extra article a {
  text-decoration: none;
}

.material-extra article:hover {
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
  transition: all 0.3s ease;
}

.material-extra article i {
  color: var(--cor4);
  /* display: none; */
  font-size: 5.5em;
}

.material-extra article p {
  color: var(--cor5);
  font-size: 1.2em;
  font-weight: 500;
  margin: 8px auto;
  padding: 16px 0;
  text-align: center;
  width: 90%;
} 







