/* Geral */
:root {
  --cor1: #73484D;
  --cor2: #BFBE9F;
  --cor3: #BF8C91;
  --cor4: #78A8BF;
  --cor5: #4E6773;
}

* {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Header */
header {
  padding: 24px;
  text-align: center;
  width: 100%;
}

header a {
  text-decoration: none;
}

.topnav {
  background-color: var(--cor4);
  display: flex;
}

.topnav a {
  color: white;
  flex: 20%;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: var(--cor5);
  color: white;
}

.topnav .icon {
  display: none;
}


/* index.html */
.container-index {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  padding: 32px 0;
  width: 90%;
}

.subtitulo {
  margin: 16px auto;
  text-align: center;
  width: 90%;
}

.capas-modulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.capa {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 16px;
}

.capa:hover {
  opacity: 0.7;
}

.capa h3 {
  text-align: center;
}

.capa img {
  border: 1px transparent black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  height: auto;
  width: 100%;
}

#em-breve {
  position: relative;
  text-align: center;
}

.centralizado {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2em;;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.img-em-breve {
  opacity: 0.4;
}


/* modulo1.html modulo2.html modulo3.html modulo4.html modulo5.html*/
.container-modulo {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  width: 90%;
}

.links-curso {
  border-bottom: 2px solid var(--cor2);
  border-top: 2px solid var(--cor2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  padding: 40px 0;
}

.links-curso h3 {
  margin: 16px auto;
  text-align: center;
}

.links-curso-imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.curso-em-video img {
  border: 1px transparent black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  height: auto; 
  margin: 16px;
  max-width: 299px;
  padding: 24px 0;
  width: 100%;
}

.curso-em-video img:hover {
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
}

.youtube img {
  border: 1px transparent black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  height: auto;
  margin: 16px;
  max-width: 299px;
  padding: 24px 0;
  width: 100%;
}

.youtube img:hover {
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
}

.conteudo-do-modulo {
  border-bottom: 2px solid var(--cor2);
  margin: 0 auto 32px;
  padding: 0 0 56px 0;
  width: 100%;
}

.conteudo-do-modulo h3 {
  margin: 16px auto;
  text-align: center;
}

.linha1, .linha2, .linha3 {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.linha3 {
  margin: auto;
  width: 55%;
}

.conteudo-detalhes {
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  flex: 50%;
  margin: 8px;
  padding: 16px 0;
}

.conteudo-detalhes h4 {
  margin: 8px auto;
  text-align: center;
}

.conteudo-detalhes ul {
  list-style-position: inside;
  list-style-type: none;
  margin-left: 16px;
}

.links-atividades {
  border-bottom: 2px solid var(--cor2);
  display: flex;
  flex-direction: column;
  padding: 0 0 56px 0;
}

.links-atividades-titulo h3 {
  margin: 16px auto;
  text-align: center;
}

.exercicios-e-desafios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exercicios-e-desafios a {
  color: var(--cor3);
  text-decoration: none;
}

.div-exercicios, .div-desafios {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  margin: 8px;
  padding: 8px;
  text-align: center;
  width: 100px;
}

.div-desafios i {
  font-size: 32px;
  margin: 8px 0;
  text-align: center;
  width: 100%;
}

.div-exercicios i {
  font-size: 32px;
  margin: 8px 0;
  text-align: center;
  width: 100%;
}


/* módulos - exercícios e desafios */
.container-desafios, .container-exercicios {
  margin: 2em auto;
  padding: 16px 0;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 8px auto;
  padding: 24px 0;
  width: 90%;
}

.lista a {
  border: 1px solid gray;
  border-radius: 8px;
  margin: 8px;
  padding: 32px 16px;
  text-align: center;
  text-decoration: none;
  width: 31%;
}


/* Páginas de exercícios */
.container-exercicio {
  margin: 2em auto;
  padding: 16px 0;
  text-align: center;
  width: 80%;
}

.exercicio {
  margin-bottom: 32px;
  padding: 16px 0 40px;
}

.exercicio h1 {
  padding: 16px 0;
}

.material-extra {
  display: flex;
  margin: 16px auto;
  padding: 8px;
}

.material-extra article {
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  margin: 16px auto;
  padding: 56px 8px;
  width: 40%;
}

.material-extra article i {
  color: var(--cor3);
  font-size: 7em;
}

.exercicio-03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exercicio-03 div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px;
  padding: 16px;
  width: 240px;
}

.exercicio-03 div p {
  margin-bottom: 24px;
}

.img-exercicio-03 {
  height: 253px;
  max-width: 180px;
}


/* footer */
footer {
  background-color: #78A8BF;
  color: white;
  padding: 16px;
  text-align: center;
  width: 100%;
}

footer p {
  padding-bottom: 8px;
}

.contato a {
  margin-right: 16px;
}

.contato i {
  color: white;
  font-size: 24px;
}


/* Estilo do botão voltar */
.botao-voltar {
  margin: 2em auto;
  text-align: center;
}

.botao-voltar img {
  width: 40px;
}


/* Design Responsivo */
@media screen and (max-width: 700px) {
  .topnav {
    flex-direction: column;
  }
  
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    display: block;
    width: 100%;
  }

  .topnav.responsivo a {
    float: none;
    display: block;
    text-align: center;
  }

  .linha1, .linha2, .linha3 {
    flex-direction: column;
  }

  .linha3 {
    width: 97%;
  }

  .material-extra {
    flex-direction: column;
  }
}
