@charset 'UTF-8';


/* Geral */
:root {
  --cor1: #73484D;
  --cor2: #BFBE9F;
  --cor3: #BF8C91;
  --cor4: #78A8BF;
  --cor5: #4E6773;
}

* {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Header */
header {
  color: #4E6773;
  padding: 24px;
  text-align: center;
  width: 100%;
}

nav {
  background-color: #78A8BF;
  display: flex;
}

nav a {
  color: white;
  flex: 20%;
  padding: 8px;;
  text-align: center;
}

nav a:hover {
  background-color: #4E6773;
  color: white;
}


/* index.html */
.container-index {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  padding: 32px 0;
  width: 90%;
}

.subtitulo {
  margin: 16px auto;
  text-align: center;
  width: 90%;
}

.capas-modulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.capa {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 16px;
}

.capa h3 {
  text-align: center;
}

.capa img {
  border: 1px transparent black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
}

#em-breve {
  position: relative;
  text-align: center;
}

.centralizado {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2em;;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.img-em-breve {
  opacity: 0.4;
}


/* modulo1.html */
.container-modulo {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  width: 90%;
}

.links-curso {
  border-bottom: 2px solid var(--cor2);
  border-top: 2px solid var(--cor2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  padding: 40px 0;
}

.links-curso h3 {
  margin: 8px auto;
  text-align: center;
}

.links-curso-imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.curso-em-video img {
  border: 1px transparent black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377); 
  margin: 16px;
  padding: 24px 0;
}

.youtube img {
  border: 1px transparent black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377); 
  margin: 16px;
  padding: 24px 0;
}

.o-que-voce-vai-aprender {
  border-bottom: 2px solid var(--cor2);
  margin-bottom: 32px;
  padding: 0 0 48px 0;
  text-align: center;
}

.o-que-voce-vai-aprender h3 {
  margin: 8px auto;
  text-align: center;
}

.o-que-voce-vai-aprender ul {
  list-style-position: inside;
  text-align: center;
}

.links-atividades {
  border-bottom: 2px solid var(--cor2);
  display: flex;
  flex-direction: column;
  padding: 0 0 56px 0;
}

.informacao h3 {
  margin: 8px auto;
  text-align: center;
}

.exercicios-e-desafios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exercicios-e-desafios a {
  color: var(--cor3);
  text-decoration: none;
}

.div-exercicios, .div-desafios {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  margin: 8px;
  padding: 8px;
  text-align: center;
  width: 100px;
}

i {
  font-size: 32px;
  margin: 8px 0;
  text-align: center;
  width: 100%;
}

.botao-voltar {
  text-align: center;
}


/* módulo 1 - exercícios e desafios */
.exercicios, .desafios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 24px auto;
  width: 60%;
}

.exercicios a {
  border: 1px solid black;
  margin: 8px;
  padding: 16px 8px;
  text-align: center;
  flex: 31%;
}

.desafios a {
  border: 1px solid black;
  margin: 8px;
  padding: 16px 8px;
  text-align: center;
  width: 31%;
}


/* Estilo das páginas de exercícios */
.pagina-de-exercicio {
  border: 1px solid red;
  margin: 8px auto;
  padding: 80px 0 240px;
  text-align: center;
  width: 80%;
}

.muito-conteudo {
  padding: 80px 0;
}

.font-awesome {
  background-color: red;
  width: 200px;
}


/* footer */
footer {
  background-color: #78A8BF;
  color: white;
  padding: 16px;
  text-align: center;
  width: 100%;
}

footer p {
  padding-bottom: 8px;
}

.contato a {
  margin-right: 8px;
}
