@charset "utf-8";

@media (min-width: 996px) {
  /* HEADER */
  header a {
    font-size: 1.0em;
  }

  #menu-icone {
    display: none;
  }

  
  /* INDEX */
  .container-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .materia {
    max-width: 50%;
  }

  .capa {
    width: 28vw;
  }


  /* MENU LATERAL */
  .menu-responsivo {
    left: 0;
  }

  #menu-lateral {
    width: 340px;
  }


  /* PÁGINA DE APRESENTAÇÃO - GERAL */
  .container-principal {
    margin-left: 340px;
  }


  /* PÁGINA DE APRESENTAÇÃO - CONTEÚDO DO MÓDULO */
  .conteudo-detalhes {
    width: 47%;
  }

  .conteudo-detalhes.ocultar {
    border: unset;
    display: block;
  }


  /* MÓDULO 01 - EXERCÍCIO 03 */
  .exercicio-03-m1 div {
    max-width: 26%;
    min-width: 280px;
  }


  /* FOOTER */
  .footer-index {
    margin-left: 0;
    width: 100%;
  }

  footer {
    margin-left: 340px;
    width: calc(100% - 340px);
  }
}