@charset "utf-8";

/* GERAL */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --cor1: #73484D; /* palavras ou frases em destaque e background com rgba*/
  --cor2: #BFBE9F;
  --cor3: #bf8c91; /* links */
  --cor4: #78A8BF;
  --cor5: #4E6773;
  --fonte-titulo: 'Bungee', cursive;
  --fonte-padrao: 'Inter', sans-serif;
}

* {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-padrao);
}


/* HEADER */
header {
  background-image: linear-gradient(to bottom, var(--cor5), var(--cor4));
  padding: 24px 0;
  text-align: center;
  width: 100%;
}

header a {
  color: white;
  font-family: var(--fonte-titulo);
  font-size: 1.0em;
  padding: 8px;
  text-decoration: none;
}

.topnav {
  background-color: var(--cor5);
  font-size: 1.1em;
  font-weight: 600;
  height: 50px;
  list-style-type: none;
  overflow: hidden;
  padding: 8px 0;
  width: 100%;
}

.topnav li {
  margin: auto;
  padding: 8px;
  text-align: center;
  width: 50%;
}

.topnav li i {
  cursor: pointer;
  display: block;
}

.topnav li i,
.topnav li a {
  color: white;
  text-decoration: none;
}

.topnav li a {
  display: none;
}

.topnav li a.link-ativo {
  text-decoration: underline white 2px;
}

.topnav li a:hover {
  text-decoration: underline 2px;
}

.responsivo { /* Classe (.responsivo) adicionada via JavaScript */
  height: unset;
}

.responsivo li a { 
  display: block;
}


/* INDEX */
.container-index {
  padding: 16px 8px;
  width: 100%;
}

.subtitulo {
  color: var(--cor5);
  font-size: 1.8em;
  margin: 24px auto;
  padding: 8px 0;
  text-align: center;
  width: 90%;
}

.capas-modulos {
  display: flex;
  flex-wrap: wrap;
}

.capa {
  margin: 16px auto;
  padding: 16px 0;
  width: 75%;
}

.capa h3 {
  color: var(--cor5);
  font-weight: bold;
  margin: 8px auto;
  text-align: center;
}

.capa img {
  border: 1px solid transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  height: auto;
  margin: auto;
  max-width: 100%;
  display: block;
}

.capa img:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}

.img-em-breve {
  cursor: pointer;
  opacity: 0.8;
}


/* MÓDULO1.HTML MÓDULO2.HTML MÓDULO3.HTML MÓDULO4.HTML MÓDULO5.HTML */
.container-modulo {
  padding: 16px 8px;
}

/* Links Curso */
.links-curso,
.conteudo-do-modulo,
.links-atividades {
  margin: 8px auto;
  padding: 16px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.links-curso p {
  color: #000;
  font-size: 1.2em;
  margin: auto;
  text-align: center;
}

.links-curso-imagens {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.links-curso-imagens .curso-em-video,
.links-curso-imagens .youtube {
  margin: 16px 24px;
}

.curso-em-video img,
.youtube img {
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  height: auto; 
  margin: 16px auto;
  max-width: 280px;
  padding: 24px 0;
  width: 100%;
  display: block;
}

.curso-em-video img:hover,
.youtube img:hover {
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
  transition: all 0.3s ease;
}

/* Conteúdo do Módulo */
.linha-1,
.linha-2,
.linha-3 {
  margin: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.conteudo-detalhes {
  background-image: radial-gradient(circle, rgba(191, 190, 159, 0.3) 10%, rgba(191, 190, 159, 0.2));
  border: 2px solid transparent;
  border-radius: 8px;
  font-weight: 500;
  line-height: 1.5em;
  margin: 8px;
  padding: 24px 16px;
  width: 95%;
}

.conteudo-detalhes h3 {
  color: #000;
  margin: 8px auto;
  text-align: center;
}

.conteudo-detalhes ul {
  color: #000;
  list-style-position: inside;
}

.conteudo-detalhes ul li {
  text-align: left;
}

.conteudo-detalhes.ocultar {
  display: none;
}

/* Links Atividades */
.exercicios-e-desafios {
  margin: 16px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.exercicios-e-desafios a {
  color: var(--cor5);
  font-weight: bolder;
  margin: 16px auto;
  text-decoration: none;
  width: 70%;
}

.div-exercicios,
.div-desafios {
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  margin: 16px auto;
  padding: 24px 0;
  text-align: center;
  width: 100%;
}

.div-exercicios:hover,
.div-desafios:hover {
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
  transition: all 0.3s ease;
}

.div-desafios i,
.div-exercicios i {
  color: rgba(120, 168, 191, 0.7);
  font-size: 4em;
  margin: 8px 0;
  text-align: center;
}

.div-desafios p, 
.div-exercicios p {
  font-size: 1.5em;
  text-align: center;
}


/* MÓDULOS - EXERCÍCIOS E DESAFIOS */
.container-lista-desafios, 
.container-lista-exercicios {
  margin: auto;
  padding: 16px;
  width: 90%;
}

.lista {
  margin: 8px auto;
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lista a {
  background-image: radial-gradient(circle, rgba(191, 190, 159, 0.3) 10%, rgba(191, 190, 159, 0.2));
  color: var(--cor5);
  border-radius: 8px;
  font-weight: 500;
  margin: 8px auto;
  padding: 32px 16px;
  text-align: center;
  text-decoration: none;
  width: 90%;
}

.lista a:hover {
  box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.377);
  transition: all 0.3s ease;
}


/* BOTÃO VOLTAR */
.botao-voltar {
  margin: 16px auto;
  text-align: center;
}

.botao-voltar i {
  background-image: radial-gradient(circle, rgba(191, 190, 159, 0.3) 10%, rgba(191, 190, 159, 0.2));
  border: 1px solid transparent;
  border-radius: 50%;
  color: var(--cor5);
  font-size: 1.4em;
  padding: 8px;
}

.botao-voltar i:hover {
  border: 1px solid var(--cor5);
  transition: all 0.3s ease;
}


/* FOOTER */
footer {
  background-image: linear-gradient(to top, var(--cor5), var(--cor4));
  background-color: var(--cor4);
  color: white;
  padding: 40px 0;
  width: 100%;
}

footer p {
  font-size: 1.2em;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.contato {
  padding: 8px;
  text-align: center;
  width: 100%;
}

.contato a {
  margin-right: 16px;
}

.contato i {
  color: white;
  font-size: 24px;
}