@charset "utf-8";

@media screen and (min-width: 768px) {  
  /* HEADER */
  .topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .topnav::after {
    /* border: 1px solid pink; */
    content:'';
    width: 16%;
  }

  .topnav li {
    /* border: 1px solid blue; */
    margin-right: 16px;
    width: 16%;
    padding: 8px 0;
  }

  .topnav li i {
    display: none;
  }

  .topnav li a {
    display: block;
  }


  /* INDEX */
  .capas-modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .capa {
    flex: 33%;
  }

  /* MÓDULO1.HTML MÓDULO2.HTML MÓDULO3.HTML MÓDULO4.HTML MÓDULO5.HTML */

  /* Links Curso */
  .links-curso-imagens,
  .exercicios-e-desafios  {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }


  /* Conteúdo do Módulo */
  .linha-1,
  .linha-2,
  .linha-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .conteudo-detalhes {
    margin: 16px;
  }

  .conteudo-detalhes.ocultar {
    background-image: unset;
    display: block;
  }

  /* Links Atividades */
  .div-exercicios,
  .div-desafios {
    width: 100%;
  }


  /* MÓDULOS - EXERCÍCIOS E DESAFIOS */
  .lista a {
    width: 31%;
  }


  /* MATERIAL EXTRA */
  .material-extra {
    border: 1px solid black;
    display: flex;
  }

  .material-extra article {
    border: 1px solid blue;
    width: 18%;
  }



}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  /* INDEX */
  .capa {
    flex: 50%;
  }

  /* Links Curso */
  .links-curso-imagens {
    width: 100%;
  }
  
  .links-curso-imagens,
  .exercicios-e-desafios  {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* Conteúdo do Módulo */
  .linha-1,
  .linha-2,
  .linha-3 {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .conteudo-detalhes {
    margin: 8px auto;
    width: 75%
  }

  .conteudo-detalhes.ocultar {
    display: none;
  }

  /* Links Atividades */
  .div-exercicios,
  .div-desafios {
    margin: 16px auto;
  }


  /* MÓDULOS - EXERCÍCIOS E DESAFIOS */
  .lista a {
    width: 40%;
  }
}

