@charset "utf-8";

/* #1 */
@media screen and (min-width: 768px) {  
  /* HEADER */
  .topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .topnav::after {
    content:'';
    width: 16%;
  }

  .topnav li {
    margin-right: 16px;
    width: 16%;
    padding: 8px 0;
  }

  .topnav li i {
    display: none;
  }

  .topnav li a {
    display: block;
  }


  /* INDEX */
  .capa {
    width: 30%;
  }


  /* MÓDULO1.HTML MÓDULO2.HTML MÓDULO3.HTML MÓDULO4.HTML MÓDULO5.HTML */
  /* Links Curso */
  .curso-em-video img,
  .youtube img {
    max-width: 500px;
  }

  /* Conteúdo do Módulo */
  .conteudo-detalhes {
    width: 47%;
  }

  .conteudo-detalhes.ocultar {
    background-image: unset;
    display: block;
  }

  /* Links Atividades */
  .exercicios-e-desafios a {
    width: 48%;
  }

  .div-exercicios,
  .div-desafios {
    width: 75%;
  }

  .div-exercicios {
    margin-right: 23px;
  }

  .div-desafios {
    margin-left: 23px;
  }


  /* MÓDULOS - EXERCÍCIOS E DESAFIOS */
  .lista a {
    width: 47%;
  }
  
  .lista::after {
    content: "";
    margin: 8px auto;
    width: 47%;
  }


  /* EXERCÍCIO 03 - MÓDULO 01 */
  .exercicio-03-m1 div {
    max-width: 26%;
    min-width: 280px;
  }

  .exercicio-03-m1-img {
    margin-top: 8px;
  }


  /* MATERIAL EXTRA */
  .material-extra article {
    max-width: 44%;
  }
}