@charset "utf-8";

@media screen and (min-width: 768px) {  
  /* HEADER */
  .topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .topnav::after {
    content:'';
    width: 16%;
  }

  .topnav li {
    margin-right: 16px;
    width: 16%;
    padding: 8px 0;
  }

  .topnav li i {
    display: none;
  }

  .topnav li a {
    display: block;
  }


  /* INDEX */
  .capa {
    width: 30%;
  }


  /* MÓDULO1.HTML MÓDULO2.HTML MÓDULO3.HTML MÓDULO4.HTML MÓDULO5.HTML */
  /* Links Curso */
  .curso-em-video img,
  .youtube img {
    max-width: 500px;
  }

  /* Conteúdo do Módulo */
  .conteudo-detalhes {
    width: 47%;
  }

  .conteudo-detalhes.ocultar {
    background-image: unset;
    display: block;
  }

  /* Links Atividades */
  .exercicios-e-desafios a {
    width: 48%;
  }

  .div-exercicios,
  .div-desafios {
    width: 75%;
  }

  .div-exercicios {
    margin-right: 23px;
  }

  .div-desafios {
    margin-left: 23px;
  }


  /* MÓDULOS - EXERCÍCIOS E DESAFIOS */
  .lista a {
    width: 47%;
  }
  
  .lista::after {
    content: "";
    margin: 8px auto;
    width: 47%;
  }


  /* MÓDULO 01 - EXERCÍCIO 03 */
  .exercicio-03-m1 div {
    max-width: 26%;
    min-width: 280px;
  }


  /* MÓDULO 01 - DESAFIO 04 */
  .desafio-04-m1 .colunas {
    margin: auto;
    width: 75%;
  }

  .desafio-04-m1 .coluna-1,
  .desafio-04-m1 .coluna-2 {
    max-width: 48%;
  }


  /* MÓDULO 01 - DESAFIO 09 */
  .desafio-09-m1 .capas-modulos {
    margin: auto;
    width: 90%;
    justify-content: center;
  }
  
  .desafio-09-m1 .capa {
    margin: 8px;
    width: 46%;
  }


  /* MÓDULO 02 - EXERCÍCIO 03 */
  .container-gradientes .gradiente-1,
  .container-gradientes .gradiente-2,
  .container-gradientes .gradiente-3 {
    max-width: 29%;
  }


  /* MÓDULO 02 - EXERCÍCIO 07 */
  .exercicio-07-m2 #container {
    justify-content: center;
    margin: 16px 0;
  }


  /* MÓDULO 02 - EXERCÍCIO 08 */
  .exercicio-08-m2 #container-exercicio-08-m2 .galeria {
    max-width: 46%;
  }


  /* MATERIAL EXTRA */
  .material-extra article {
    max-width: 44%;
  }
}