@charset "utf-8";

@media screen and (min-width: 768px) {
  /* HEADER */
  .container-index {
    background-color: gray;
  }

  .topnav {
    flex-direction: row;
    justify-content: space-around;
  }

  .topnav i {
    display: none;
  }

  .topnav li {
    border: 1px solid red;
  }


  .capas-modulos {
    border: 1px solid yellow;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

